<nav id="sidebar-icon-links">
<!--To get rid of a pesky RSS subscritption button.-->

    <div style="display: flex; justify-content: row;">
        <a id="github-link" class="icon" title="Github Profile" aria-label="Github Profile" href="https://github.com/{{site.github_username}}">
            <img src="../assets/github.svg" style="width: 20%;">
        </a>

        <a id="linkedin-link" class="icon" title="LinkedIn Profile" aria-label="LinkedIn Profile" href="https://www.linkedin.com/in/{{site.linkedin_username}}">
            <img src="../assets/linkedin.svg" style="width: 20%;" />
        </a>
    </div>
</nav>
